body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}

/* GLOBAL */
.container {
  width: 70%;
  margin: auto;
  overflow: hidden; /* block items from "overflowing" by width (no scroll) */
  border: black 3px solid;  /* Temp Container outline*/
}

/* NAV */
#nav-bar {
  background: white;
  color:orangered;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: orangered 3px solid;
}

#nav-bar a {
  color: orangered;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

#nav-bar ul {
  margin: 0;
  padding: 0;
}

#nav-bar li {
  display: inline;
  padding: 0 20px 0 20px;

}


/* FOOTER */

footer {
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: orangered 2px solid;
}
.footer-box {
  font-size: 10px;
  display: inline;
}

.footer-box ul {
  font-size: 0.8rem;
  list-style-type: none;
}
